<div class="p-fluid">
    <form [formGroup]="formProject" (ngSubmit)="onSubmit(formProject.value)">
        <div class="p-field">
            <label for="">ID:</label>
            <input pInputText type="text" id="id" formControlName="id">
        </div>
        <div class="p-field">
            <label for="">CODE:</label>
            <input pInputText type="text" id="code" formControlName="code">
            <div *ngIf="codeField.invalid && (codeField.touched||codeField.dirty) ">
                <small *ngIf="codeField.errors?.required">Campo requerido</small>
                <small *ngIf="codeField.errors?.maxlength">Demasiados caracteres</small>
                <small *ngIf="codeField.errors?.minlength">Pocox caracteres</small>
            </div>
        </div>
        <div class="p-field">
            <label for="">DESCRIPTION:</label>
            <input pInputText type="text" id="description" formControlName="description">
            <div *ngIf="descriptionField.invalid && (descriptionField.touched||descriptionField.dirty) ">
                <small *ngIf="descriptionField.errors?.required">Campo requerido</small>
                <small *ngIf="descriptionField.errors?.maxlength">Demasiados caracteres</small>
                <small *ngIf="descriptionField.errors?.minlength">Pocox caracteres</small>
            </div>
        </div>
        <div class="p-field">
            <label for="">APPROVED:</label>
            <input pInputText type="text" id="approved" formControlName="approved">
            <div *ngIf="approvedField.invalid && (approvedField.touched||approvedField.dirty) ">
                <small *ngIf="approvedField.errors?.required">Campo requerido</small>
            </div>
        </div>
        <div class="p-field">
            <label for="">TITLE:</label>
            <input pInputText type="text" id="title" formControlName="title">
            <div *ngIf="titleField.invalid && (titleField.touched||titleField.dirty) ">
                <small *ngIf="titleField.errors?.required">Campo requerido</small>
                <small *ngIf="titleField.errors?.maxlength">Demasiados caracteres</small>
                <small *ngIf="titleField.errors?.minlength">Pocox caracteres</small>
            </div>
        </div>
        <div class="p-field">
            <label for="">DATE:</label>
            <p-calendar formControlName="date" id="date" dateFormat="yy-mm-dd"></p-calendar>
            <!-- <input pInputText type="text" id="date" formControlName="date"> -->
            <div *ngIf="dateField.invalid && (dateField.touched||dateField.dirty) ">
                <small *ngIf="dateField.errors?.required">Campo requerido</small>
            </div>
        </div>
        <div class="p-field">
            <button [disabled]="formProject.invalid" pButton type="submit" label="Guardar"></button>
        </div>
    </form>
</div>
<!-- {{selectedProject|json}} -->
<h3>Projects</h3>

<table>
    <tr>
        <th>
            id
        </th>
        <th>
            code
        </th>
        <th>
            description
        </th>
        <th>
            approved
        </th>
        <th>
            date
        </th>
        <th>
            title
        </th>
    </tr>
    <tr *ngFor="let project of projects">
        <td>
            {{project.id}}
        </td>
        <td>
            {{project.code}}
        </td>
        <td>
            {{project.description}}
        </td>
        <td>
            {{project.approved}}
        </td>
        <td>
            {{project.date}}
        </td>
        <td>
            {{project.title}}
        </td>

        <td>
            <button (click)="selectProject(project)">Mostrar</button>
            <button (click)="deleteProject(project)">Eliminar</button>
        </td>
    </tr>
</table>
<!-- <p-table [value]="projects">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>title</th>
            <th>Description</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>
        <tr>
            <td>{{project.id}}</td>
            <td>{{project.code}}</td>
            <td>{{project.title}}</td>
            <td>{{project.description}}</td>
            <td>
                <button (click)="selectProject(project)">Mostrar</button>
                <button (click)="deleteProject(project)">Eliminar</button>
            </td>
        </tr>
    </ng-template>
</p-table> -->
<!-- <p>proyect works!</p>
<p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
<p-listbox [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-listbox>-->


<!-- <p-dropdown [options]="themes" (onChange)="changeTheme(selectedTheme.name)" [(ngModel)]="selectedTheme" optionLabel="name" placeholder="Select a Theme">
    <ng-template pTemplate="selectedItem">
        <div class="country-item country-item-value" *ngIf="selectedTheme">
            <div style="cursor: pointer" (click)="changeTheme(selectedTheme.name)"
                [ngStyle]="{'background-color': selectedTheme.color}">{{selectedTheme.name}}>{{selectedTheme.name}}
            </div>
        </div>
    </ng-template>
    <ng-template let-item pTemplate="item">
        <div class="country-item">
            <div style="cursor: pointer" (click)="changeTheme(item.name)" [ngStyle]="{'background-color': item.color}">
                {{item.name}}</div>
        </div>
    </ng-template>
</p-dropdown> -->